@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color:rgb(0, 0, 49);
}

.bar{
    display: none;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 8, 68);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav h1{
    padding: 8px 50px;
    font-size: 55px;
    font-weight:400;
    color: #fff;
}

ul{
    margin-right: 50px;

}

ul li{
    display: inline-block;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
}

ul li a{
text-decoration: none;
color: #fff;
}

ul li a:hover{
    border-bottom: 3px solid aqua;
    transition: .1s;
}

.main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(37, 18, 46),rgb(36, 1, 90));
}


.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img{ 
    position: relative;
    height: 320px;
    width: 320px;
    border: 1px solid aqua;
    border-radius: 50%;
    top: 150px;
    box-shadow: 0 0 16px 1px aqua;
}

.content{
    position: relative;
    text-align: center;
    top: 180px;
}
.content h1{
    font-size: 50px;
    font-weight:200;
    color: #fff; 
}

.content h1 span{
    color: aqua;
}

.content h3{
    font-size: 25px;
    font-weight:200;
    color: #fff; 
    margin: 0 20px;
}

.icons{
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
}

.icons>h2{
    font-size: 30px;
    margin: 0 20px;
    padding: 10px 20px;
    border: 2px solid aqua;
    border-radius: 48px;
    color: aqua;
    font-weight: 300;
}

.icons span i{
    font-size: 40px;
    margin: 0 10px;

}

.icons>h2:hover{
    background-color: aqua;
    color: black;
    transition: .3s;
    cursor: pointer;
    box-shadow:  0em 0em 1em aqua;
}

.icons span i:hover{
    cursor: pointer ;
}

.aboutme{
    width: 70%;
    margin: auto;
    text-align: center;
}

.aboutme h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 400;
   padding-top: 7%;
   color: #fff;
}

.aboutme h2{
    font-weight: 300;
   color: #fff;
}


.container1 h1{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 30px;
    color: #fff;
}

.projects{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 8px;
    margin-bottom: 2%;
    background-color: rgb(7, 22, 71);
   
}

.section1{
    padding: 20px;
}

.section2{
    padding: 20px;
}

.section1 h2{
    font-size: 30px;
    font-weight:400;
    padding: 10px 20px;
    color: #fff;
}

.section1 i{
    font-size: 30px;
    padding-left: 20px;
    color: #fff;
}

.section1 p{
    font-size: 25px;
    font-weight:300;
    color: rgb(199, 199, 199); 
   padding-left: 20px;
}

.language{
    margin: 20px;
}

.language span{
    border: 2px solid black;
    padding: 7px 15px;
    border-radius: 25px;
    color: #fff;
    background-color: rgb(0, 0, 49);
}

.section2 img{
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
}

.contacts{
    width: 50%;
    margin: auto;
}

.contacts h1{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 30px;
    color: #fff; 
   
}

.contacts p{
    text-align: center;
    color: #a5a5a5;
    font-size: 25px;
    padding-bottom: 15px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 30px 0;
    background-color: rgb(7, 22, 71)
}

.inputs h2{
    font-size: 29px;
    font-weight: 500;
    color: #fff;
}

.inputs input{
    width: 80%;
}

.inputs button{
    width: 80%;
}

.input-types{
    height: 60px;
    margin: 10px 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: transparent;
    
}

::placeholder{
    color: rgba(221, 221, 221, 0.699);
    font-size: 20px;
    padding-left: 10px;
}

.input-message{
    height: 80px;
    margin: 10px 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: transparent;
}

.submit{
    height: 60px;
    margin: 10px 0;
    border: 2px solid rgb(95, 11, 231);
    border-radius: 8px;
    background-color: rgb(95, 11, 231);
    color: #fff;
    font-size: 20px;
}

.submit:hover{
    background-color:  rgb(71, 5, 175);
    transition: .3s;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.footer h2{
    padding-top: 5%;
    color: aquamarine;
    font-size: 43px;
    font-weight: 400;
}

.footer p{
    color: #a5a5a5;
    font-size: 25px;
    padding: 0;
}

@media only screen and (max-width : 1090px){
    .hero img{ 
        position: relative;
        height: 180px;
        width: 180px;
        top: 120px;
    }
    .content{
        top:110px;
    }
    .icons>h2{
        font-size: 25px;
        padding: 6px 15px;
        font-weight: 300;
    }
    .icons{
        top: 120px;
    }
  }

@media only screen and (max-width : 800px){
  .nav li{
    display: none;
  }
}


@media only screen and (max-width : 640px){ 
    body{
        width: 100vmax;
      }
      .content h3{
        font-size: 20px;
        font-weight:200;
        width: 100vmax;
    }
    .projects{
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        margin-bottom: 5%;
    }
    .shift1{
        order: 2;
    }
    .shift2{
        order: 1;
    }
    .contacts{
        width: 70vmax;
        margin: auto;
    }
}

@media only screen and (max-width : 370px){
   
    body{
        width: 100vmax;
      }
}
































